[Unit]
Description=viberToTelegram app

[Service]
User=server
Type=simple
SuccessExitStatus=0 1
WorkingDirectory=/var/www/andrewsha/viberToTelegram/
ExecStart=/var/www/andrewsha/viberToTelegram/venv/bin/python main.py

[Install]
WantedBy=multi-user.target